@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .bg-brand {
        background-color: var(--brand-primary);
    }

    .text-brand {
        color: var(--brand-primary);
    }

    .border-brand {
        border-color: var(--brand-primary);
    }

    .btn-brand {
        background-color: var(--brand-primary);
        color: white;
        transition: opacity .2s ease;
    }

    .btn-brand:hover {
        opacity: .9;
    }

   input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    border-color: var(--brand-primary) !important;
    box-shadow: 0 0 0 1px var(--brand-primary) !important;
    --tw-ring-color: var(--brand-primary) !important;
    --tw-ring-offset-shadow: 0 0 #0000 !important;
    --tw-ring-shadow: 0 0 0 1px var(--brand-primary) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #111827 !important;
}

[x-cloak] {
    display: none !important;
}

}